In [1]:
import pandas as pd
import numpy as np

In [2]:
import chardet
with open('sleeping-alone-data.csv', 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'encoding': 'ISO-8859-1', 'confidence': 0.73, 'language': ''}

In [3]:
# read csv to a df
df = pd.read_csv('sleeping-alone-data.csv', encoding='ISO-8859-1')
df.head(3)

,StartDate,EndDate,Which of the following best describes your current relationship status?,"How long have you been in your current relationship? If you are not currently in a relationship, please answer according to your last relationship.","When both you and your partner are at home, how often do you sleep in separate beds?","When you're not sleeping in the same bed as your partner, where do you typically sleep?",Unnamed: 6,"When you're not sleeping in the same bed, where does your partner typically sleep?",Unnamed: 8,What are the reasons that you sleep in separate beds? Please select all that apply.,...,"To what extent do you agree with the following statement: ""sleeping in separate beds helps us to stay together.""","To what extent do you agree with the following statement: ""we sleep better when we sleep in separate beds.""","To what extent do you agree with the following statement:ë_""our sex life has improved as a result of sleeping in separate beds.""ë_",Which of the following best describes your current occupation?,Unnamed: 25,Gender,Age,Household Income,Education,Location (Census Region)
0,NaN,NaN,Response,Response,Response,Response,Other (please specify),Response,Other (please specify),One of us snores,...,Response,Response,Response,Response,Other (please specify),Response,Response,Response,Response,Response
1,7/10/14 18:37,7/10/14 18:39,"Single, but cohabiting with a significant other",1-5 years,Once a year or less,On the couch/chair,NaN,"My partner sleeps in our shared bed, I'm the o...",NaN,NaN,...,Strongly disagree,Somewhat agree,Strongly disagree,Other (please specify),Student,Male,18-29,"$0 - $24,999",Some college or Associate degree,Pacific
2,7/10/14 15:54,7/10/14 15:56,"Single, but cohabiting with a significant other",1-5 years,A few times per month,"I sleep in our shared bed, my partner is the o...",NaN,Separate bedroom,NaN,One of us snores,...,Somewhat agree,Strongly agree,Strongly disagree,Healthcare Support Occupations,NaN,Male,18-29,NaN,Bachelor degree,South Atlantic

In [4]:
df = df.drop(columns=['StartDate', 'EndDate'],index=[0]).reset_index(drop=True)

In [5]:
df.columns = [col.lower() for col in df.columns]

In [6]:
df.shape

(1093, 29)

In [7]:
df.head()

,which of the following best describes your current relationship status?,"how long have you been in your current relationship? if you are not currently in a relationship, please answer according to your last relationship.","when both you and your partner are at home, how often do you sleep in separate beds?","when you're not sleeping in the same bed as your partner, where do you typically sleep?",unnamed: 6,"when you're not sleeping in the same bed, where does your partner typically sleep?",unnamed: 8,what are the reasons that you sleep in separate beds? please select all that apply.,unnamed: 10,unnamed: 11,...,"to what extent do you agree with the following statement: ""sleeping in separate beds helps us to stay together.""","to what extent do you agree with the following statement: ""we sleep better when we sleep in separate beds.""","to what extent do you agree with the following statement:ë_""our sex life has improved as a result of sleeping in separate beds.""ë_",which of the following best describes your current occupation?,unnamed: 25,gender,age,household income,education,location (census region)
0,"Single, but cohabiting with a significant other",1-5 years,Once a year or less,On the couch/chair,NaN,"My partner sleeps in our shared bed, I'm the o...",NaN,NaN,NaN,One of us is sick,...,Strongly disagree,Somewhat agree,Strongly disagree,Other (please specify),Student,Male,18-29,"$0 - $24,999",Some college or Associate degree,Pacific
1,"Single, but cohabiting with a significant other",1-5 years,A few times per month,"I sleep in our shared bed, my partner is the o...",NaN,Separate bedroom,NaN,One of us snores,One of us makes frequent bathroom trips in the...,One of us is sick,...,Somewhat agree,Strongly agree,Strongly disagree,Healthcare Support Occupations,NaN,Male,18-29,NaN,Bachelor degree,South Atlantic
2,Married,1-5 years,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Legal Occupations,NaN,Male,18-29,"$150,000+",Graduate degree,South Atlantic
3,Married,1-5 years,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"Life, Physical, and Social Science Occupations",NaN,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
4,Married,1-5 years,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Office and Administrative Support Occupations,NaN,Male,18-29,"$100,000 - $149,999",Graduate degree,South Atlantic

In [8]:
# need to replace 'Other (please specify)' with values in 'unnamed: 25'
# df[['which of the following best describes your current occupation?', 'unnamed: 25']][df['which of the following best describes your current occupation?'] == 'Other (please specify)']

In [9]:
# fills the other column
#df['which of the following best describes your current occupation?'] = np.where(
#    df['which of the following best describes your current occupation?'] == 'Other (please specify)', 
#    df['unnamed: 25'], 
#    df['which of the following best describes your current occupation?'])

In [10]:
df.head()

,which of the following best describes your current relationship status?,"how long have you been in your current relationship? if you are not currently in a relationship, please answer according to your last relationship.","when both you and your partner are at home, how often do you sleep in separate beds?","when you're not sleeping in the same bed as your partner, where do you typically sleep?",unnamed: 6,"when you're not sleeping in the same bed, where does your partner typically sleep?",unnamed: 8,what are the reasons that you sleep in separate beds? please select all that apply.,unnamed: 10,unnamed: 11,...,"to what extent do you agree with the following statement: ""sleeping in separate beds helps us to stay together.""","to what extent do you agree with the following statement: ""we sleep better when we sleep in separate beds.""","to what extent do you agree with the following statement:ë_""our sex life has improved as a result of sleeping in separate beds.""ë_",which of the following best describes your current occupation?,unnamed: 25,gender,age,household income,education,location (census region)
0,"Single, but cohabiting with a significant other",1-5 years,Once a year or less,On the couch/chair,NaN,"My partner sleeps in our shared bed, I'm the o...",NaN,NaN,NaN,One of us is sick,...,Strongly disagree,Somewhat agree,Strongly disagree,Other (please specify),Student,Male,18-29,"$0 - $24,999",Some college or Associate degree,Pacific
1,"Single, but cohabiting with a significant other",1-5 years,A few times per month,"I sleep in our shared bed, my partner is the o...",NaN,Separate bedroom,NaN,One of us snores,One of us makes frequent bathroom trips in the...,One of us is sick,...,Somewhat agree,Strongly agree,Strongly disagree,Healthcare Support Occupations,NaN,Male,18-29,NaN,Bachelor degree,South Atlantic
2,Married,1-5 years,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Legal Occupations,NaN,Male,18-29,"$150,000+",Graduate degree,South Atlantic
3,Married,1-5 years,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,"Life, Physical, and Social Science Occupations",NaN,Male,18-29,"$25,000 - $49,999",Bachelor degree,Middle Atlantic
4,Married,1-5 years,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,Office and Administrative Support Occupations,NaN,Male,18-29,"$100,000 - $149,999",Graduate degree,South Atlantic

In [11]:
df_prep = df.dropna(axis=1, thresh=1000).dropna()

In [12]:
df_prep.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 997 entries, 0 to 1092
Data columns (total 8 columns):
 #   Column                                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                                               --------------  -----
 0   which of the following best describes your current relationship status?                                                                              997 non-null    object
 1   how long have you been in your current relationship? if you are not currently in a relationship, please answer according to your last relationship.  997 non-null    object
 2   when both you and your partner are at home, how often do you sleep in separate beds?                                                                 997 non-null    object
 3   which of the following best describes your current occupation?                                                                                       997 non-null    object
 4   gender                                                                                                                                               997 non-null    object
 5   age                                                                                                                                                  997 non-null    object
 6   education                                                                                                                                            997 non-null    object
 7   location (census region)                                                                                                                             997 non-null    object
dtypes: object(8)
memory usage: 70.1+ KB

In [13]:
new_col_names = ['status', 'rel_length', 'separate_bed', 
                 'occupation', 'gender', 'age', 'education', 'location']

In [14]:
df_prep.columns = new_col_names

In [15]:
df_prep.head(3)

,status,rel_length,separate_bed,occupation,gender,age,education,location
0,"Single, but cohabiting with a significant other",1-5 years,Once a year or less,Other (please specify),Male,18-29,Some college or Associate degree,Pacific
1,"Single, but cohabiting with a significant other",1-5 years,A few times per month,Healthcare Support Occupations,Male,18-29,Bachelor degree,South Atlantic
2,Married,1-5 years,Never,Legal Occupations,Male,18-29,Graduate degree,South Atlantic

In [16]:
## Create 'Not Married' Category
df_prep['status'] = np.where(
    df_prep['status'] != 'Married', 
    'Not Married', 
    df_prep['status'])

In [17]:
# First I create a new dataframe that holds my encoded columns.
married_dummies = pd.get_dummies(df_prep.status).drop(columns='Not Married')

# Then I add my encoded columns back onto my original dataframe.
df_prep = pd.concat([df_prep, married_dummies], axis=1).drop(columns='status')

# lowercase col name
df_prep = df_prep.rename(columns={'Married': 'married'})

In [18]:
df_prep.married.value_counts()

1    808
0    189
Name: married, dtype: int64

In [19]:
## Create '0-5 year' category
df_prep['rel_length'] = np.where(
    df_prep['rel_length'] == 'Less than 1 year', 
    '0-5 years', 
    df_prep['rel_length'])

df_prep['rel_length'] = np.where(
    df_prep['rel_length'] == '1-5 years', 
    '0-5 years', 
    df_prep['rel_length'])

# Rename 'More than 20 years' to '20+ years'
df_prep['rel_length'] = np.where(
    df_prep['rel_length'] == 'More than 20 years', 
    '20+ years', 
    df_prep['rel_length'])

In [20]:
df_prep.rel_length.value_counts()

20+ years      429
0-5 years      170
6-10 years     152
11-15 years    151
16-20 years     95
Name: rel_length, dtype: int64

In [21]:
## Create 'no' category
df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'Never', 
    0, 
    df_prep['separate_bed'])

df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'Once a year or less', 
    0, 
    df_prep['separate_bed'])

df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'Once a month or less', 
    0, 
    df_prep['separate_bed'])

## Create 'yes' category
df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'A few times per month', 
    1, 
    df_prep['separate_bed'])

df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'A few times per week', 
    1, 
    df_prep['separate_bed'])

df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'Every night', 
    1, 
    df_prep['separate_bed'])

In [42]:
# change target to int type
df_prep.separate_bed = df_prep.separate_bed.astype('int')

In [43]:
df_prep.separate_bed.value_counts()

0    762
1    235
Name: separate_bed, dtype: int64

## Create 'Rarely' category
df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'Never', 
    'Rarely', 
    df_prep['separate_bed'])

df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'Once a year or less', 
    'Rarely', 
    df_prep['separate_bed'])

## Create 'Occasionally' category
df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'Once a month or less', 
    'Occasionally', 
    df_prep['separate_bed'])

df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'A few times per month', 
    'Occasionally', 
    df_prep['separate_bed'])

## Create 'Frequently' category
df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'A few times per week', 
    'Frequently', 
    df_prep['separate_bed'])

df_prep['separate_bed'] = np.where(
    df_prep['separate_bed'] == 'Every night', 
    'Frequently', 
    df_prep['separate_bed'])

In [23]:
#df_prep.separate_bed.value_counts()

In [24]:
# lowercase all names to reduce redunant names
#df_prep.occupation = df_prep.occupation.str.lower()

In [25]:
df_prep.occupation.value_counts()

Other (please specify)                                        274
Education, Training, and Library Occupations                  133
Office and Administrative Support Occupations                  78
Management Occupations                                         60
Computer and Mathematical Occupations                          51
Sales and Related Occupations                                  48
Healthcare Practitioners and Technical Occupations             48
Business and Financial Operations Occupations                  44
Healthcare Support Occupations                                 38
Arts, Design, Entertainment, Sports, and Media Occupations     34
Legal Occupations                                              33
Architecture and Engineering Occupations                       29
Life, Physical, and Social Science Occupations                 22
Community and Social Service Occupations                       21
Food Preparation and Serving Related Occupations               15
Construction and Extraction Occupations                        13
Installation, Maintenance, and Repair Occupations              12
Personal Care and Service Occupations                          11
Production Occupations                                          9
Transportation and Materials Moving Occupations                 8
Building and Grounds Cleaning and Maintenance Occupations       7
Protective Service Occupations                                  6
Farming, Fishing, and Forestry Occupations                      3
Name: occupation, dtype: int64

In [26]:
# First I create a new dataframe that holds my encoded columns.
gender_dummies = pd.get_dummies(df_prep.gender).drop(columns='Female')

# Then I add my encoded columns back onto my original dataframe.
df_prep = pd.concat([df_prep, gender_dummies], axis=1).drop(columns='gender')

# lowercase col name
df_prep = df_prep.rename(columns={'Male': 'male'})

In [27]:
df_prep.male.value_counts(normalize=True)

1    0.511535
0    0.488465
Name: male, dtype: float64

In [28]:
# Rename '> 60' to '60+'
df_prep['age'] = np.where(
    df_prep['age'] == '> 60', 
    '60+', 
    df_prep['age'])

In [29]:
df_prep.age.value_counts()

45-60    311
30-44    286
60+      280
18-29    120
Name: age, dtype: int64

In [30]:
## Create 'HS degree or less' category
df_prep['education'] = np.where(
    df_prep['education'] == 'High school degree', 
    'HS degree or less', 
    df_prep['education'])

df_prep['education'] = np.where(
    df_prep['education'] == 'Less than high school degree', 
    'HS degree or less', 
    df_prep['education'])

In [31]:
df_prep.education.value_counts()

Bachelor degree                     319
Graduate degree                     319
Some college or Associate degree    279
HS degree or less                    80
Name: education, dtype: int64

In [32]:
df_prep['region'] = df_prep.location.drop(columns='location')

In [33]:
df_prep.location.value_counts()

East North Central    196
Middle Atlantic       156
South Atlantic        147
Pacific               136
West North Central    100
New England            95
Mountain               68
West South Central     66
East South Central     33
Name: location, dtype: int64

In [34]:
df_prep.head()

,rel_length,separate_bed,occupation,age,education,location,married,male,region
0,0-5 years,0,Other (please specify),18-29,Some college or Associate degree,Pacific,0,1,Pacific
1,0-5 years,1,Healthcare Support Occupations,18-29,Bachelor degree,South Atlantic,0,1,South Atlantic
2,0-5 years,0,Legal Occupations,18-29,Graduate degree,South Atlantic,1,1,South Atlantic
3,0-5 years,0,"Life, Physical, and Social Science Occupations",18-29,Bachelor degree,Middle Atlantic,1,1,Middle Atlantic
4,0-5 years,0,Office and Administrative Support Occupations,18-29,Graduate degree,South Atlantic,1,1,South Atlantic

In [35]:
from sklearn.preprocessing import LabelEncoder

def encode_cat_vars(df, columns):
    for col in df[columns]:
        le = LabelEncoder().fit(df[col])
        df[col] = le.transform(df[col])
    return df

In [36]:
#df_prep = encode_cat_vars(df_prep, df_prep.columns)
#df_prep.head()

In [37]:
from sklearn.model_selection import train_test_split

def split_data(df):

    train_validate, test = train_test_split(df, test_size=.2, 
                                        random_state=123, 
                                        stratify=df.separate_bed)
    train, validate = train_test_split(train_validate, test_size=.3, 
                                   random_state=123, 
                                   stratify=train_validate.separate_bed)
    return train, validate, test

In [38]:
train, validate, test = split_data(df_prep)

In [39]:
print(round(train.shape[0]/len(df_prep),4))
print(round(validate.shape[0]/len(df_prep),4))
print(round(test.shape[0]/len(df_prep),4))

0.5587
0.2407
0.2006

def condense_categories(df_prep):
    ######### status #########
    ## Create 'Not Married' Category
    df_prep['status'] = np.where(
        df_prep['status'] != 'Married', 
        'Not Married', 
        df_prep['status'])

    ## ENCODE married
    # First I create a new dataframe that holds my encoded columns.
    married_dummies = pd.get_dummies(df_prep.status).drop(columns='Not Married')
    # Then I add my encoded columns back onto my original dataframe.
    df_prep = pd.concat([df_prep, married_dummies], axis=1).drop(columns='status')
    # lowercase col name
    df_prep = df_prep.rename(columns={'Married': 'married'})

    ######### rel_length #########
    ## Create '0-5 year' category
    df_prep['rel_length'] = np.where(
        df_prep['rel_length'] == 'Less than 1 year', 
        '0-5 years', 
        df_prep['rel_length'])

    df_prep['rel_length'] = np.where(
        df_prep['rel_length'] == '1-5 years', 
        '0-5 years', 
        df_prep['rel_length'])

    # Rename 'More than 20 years' to '20+ years'
    df_prep['rel_length'] = np.where(
        df_prep['rel_length'] == 'More than 20 years', 
        '20+ years', 
        df_prep['rel_length'])
    
    ######### separate_bed #########
    ## Create 'Rarely' category
    df_prep['separate_bed'] = np.where(
        df_prep['separate_bed'] == 'Never', 
        'Rarely', 
        df_prep['separate_bed'])

    df_prep['separate_bed'] = np.where(
        df_prep['separate_bed'] == 'Once a year or less', 
        'Rarely', 
        df_prep['separate_bed'])

    ## Create 'Occasionally' category
    df_prep['separate_bed'] = np.where(
        df_prep['separate_bed'] == 'Once a month or less', 
        'Occasionally', 
        df_prep['separate_bed'])

    df_prep['separate_bed'] = np.where(
        df_prep['separate_bed'] == 'A few times per month', 
        'Occasionally', 
        df_prep['separate_bed'])

    ## Create 'Frequently' category
    df_prep['separate_bed'] = np.where(
        df_prep['separate_bed'] == 'A few times per week', 
        'Frequently', 
        df_prep['separate_bed'])

    df_prep['separate_bed'] = np.where(
        df_prep['separate_bed'] == 'Every night', 
        'Frequently', 
        df_prep['separate_bed'])

    ######### age #########
    # Rename '> 60' to '60+'
    df_prep['age'] = np.where(
        df_prep['age'] == '> 60', 
        '60+', 
        df_prep['age'])
    
    ######### education #########
    ## Create 'HS degree or less' category
    df_prep['education'] = np.where(
        df_prep['education'] == 'High school degree', 
        'HS degree or less', 
        df_prep['education'])

    df_prep['education'] = np.where(
        df_prep['education'] == 'Less than high school degree', 
        'HS degree or less', 
        df_prep['education'])
    
    ## ENCODE gender
    # First I create a new dataframe that holds my encoded columns.
    gender_dummies = pd.get_dummies(df_prep.gender).drop(columns='Female')
    # Then I add my encoded columns back onto my original dataframe.
    df_prep = pd.concat([df_prep, gender_dummies], axis=1).drop(columns='gender')
    # lowercase col name
    df_prep = df_prep.rename(columns={'Male': 'male'})

    return df_prep